<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Primary Meta Tags -->
    <title>HND 2 Computer Science Digital Year Book | 2020</title>
    <meta
      name="title"
      content="HND 2 Computer Science Digital Year Book | 2020"
    />
    <meta
      name="description"
      content="A Digital Year Book website for Yabatech Computer Science Department Set 19/20"
    />
    <meta name="author" content="Horpey" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="#" />
    <meta
      property="og:title"
      content="HND 2 Computer Science Digital Year Book | 2020"
    />
    <meta
      property="og:description"
      content="A Digital Year Book website for Yabatech Computer Science Department Set 19/20"
    />
    <meta property="og:image" content="#" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="#" />
    <meta
      property="twitter:title"
      content="HND 2 Computer Science Digital Year Book | 2020"
    />
    <meta
      property="twitter:description"
      content="A Digital Year Book website for Yabatech Computer Science Department Set 19/20"
    />
    <meta property="twitter:image" content="#" />

    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="css/base.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
      document.documentElement.className = "js";
      var supportsCssVars = function () {
        var e,
          t = document.createElement("style");
        return (
          (t.innerHTML = "root: { --tmp-var: bold; }"),
          document.head.appendChild(t),
          (e = !!(
            window.CSS &&
            window.CSS.supports &&
            window.CSS.supports("font-weight", "var(--tmp-var)")
          )),
          t.parentNode.removeChild(t),
          e
        );
      };
      supportsCssVars() ||
        alert(
          "Please view this demo in a modern browser that supports CSS Variables."
        );
    </script>
  </head>
  <body>
    <main id="app" >
      <div>
        <input v-model="search" class="forminput" type="text" placeholder="Search">
      </div>
      <div class="frame framesm">
        <h1 class="frame__pagetitle">HND 2 Computer Science Set 19/20</h1>
        <h2 class="frame__title">Digital Yearbook</h2>
        <nav class="frame__links">
          <a href="https://horpey.com/" target="_blank"
            >Developed with ❤ by Horpey</a
          >
        </nav>
      </div>
      <div style="text-align: center;" v-if="filteredList.length == 0">
        <p>No Result found 🤭</p>
      </div>
      <div class="content" ref="itemList">
        <div class="item" v-for="(user,index) in filteredList" :key="index">
          <figure class="thumb">
            <svg
              v-if="user.DisplayImage"
              class="distort"
              width="350"
              height="450"
              viewBox="0 0 350 450"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <filter
                :id="`distortionFilter${index}`"
                data-type="displacementMap"
              >
                <feTurbulence
                  type="turbulence"
                  baseFrequency="0.1"
                  numOctaves="5"
                  seed="2"
                  result="noise"
                />
                <feDisplacementMap
                  in="SourceGraphic"
                  in2="noise"
                  scale="0"
                  xChannelSelector="R"
                  yChannelSelector="B"
                  filterUnits="userSpaceOnUse"
                />
              </filter>
              <image
                :filter="`url(#distortionFilter${index})`"
                class="distort__img"
                x="50"
                y="50"
                :href="reformLink(user.DisplayImage)"
                height="350"
                width="250"
              />
            </svg>
            <figcaption class="thumb__caption">
              <p class="thumb__caption-title">{{user.FavouriteQuote}}</p>
            </figcaption>
          </figure>
          <div class="item__meta">
            <p class="item__meta-counter"></p>
            <h3 class="item__meta-title">{{user.Fullname}}</h3>
            <p class="item__meta-detail">{{user.Nickname}}</p>
            <p class="item__meta-detail">
              <a
                v-if="user.LinkedInURL"
                :href="`${user.LinkedInURL}`"
                target="_blank"
                >LN</a
              ><span v-if="user.TwitterUsername && user.LinkedInURL"> • </span>
              <a
                v-if="user.InstagramUsername"
                :href="`https://instagram.com/${user.InstagramUsername}`"
                target="_blank"
                >IN</a
              ><span v-if="user.TwitterUsername && user.InstagramUsername">
                •
              </span>
              <a
                v-if="user.TwitterUsername"
                :href="`http://twitter.com/${user.TwitterUsername}`"
                target="_blank"
                >TW</a
              >
            </p>
          </div>
        </div>
      </div>
    </main>
    <svg class="cursor" width="40" height="40" viewBox="0 0 40 40">
      <circle class="cursor__inner" cx="20" cy="20" r="10" />
    </svg>
    <script src="js/index.js"></script>
    <script></script>
  </body>
</html>
